%html
  %head
    %meta{ :charset => "UTF-8" }
    %link{ :rel => "stylesheet", :href => "/css/bands.css" }
    %script{ :src => "/js/jquery.js"}
    %script{ :src => "/js/bands.js"}
    %script= "var bandsData = " + @bands.map(&:to_h).to_json + ";\n"
  %body
    %h1 Primavera Explorer
    %div.controls
      %div.sort 
        %span.label Sort By:
        %span{ :class => "sort", :onclick => "sort(sortByAlpha)"} Alpha
        %span{ :class => "sort", :onclick => "sort(sortByPlaycount)"} Playcount
        %span{ :class => "sort", :onclick => "sort(sortByListeners)"} Listeners
      %div.view
        %span.label View:
        %span{ :onclick => "viewCompact()" } Compact
        %span{ :onclick => "viewList()" } Expanded
        %span{ :onclick => "viewFull()" } Full        
    %div#bands
      %ul
        - @bands.each do |b| 
          %li.band{ :id => b.element_id, :onclick => "expand(this)" }
            %span.name= b.name  
            - if b.lastfm_info
              %img{ :src => b.image, :width=>126, :height=>101}
              %div.info
                %div.stats
                  %span.listeners= "Listeners: " + b.lastfm_info['stats']['listeners'].to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                  %span.playcount= "Playcount: " + b.lastfm_info['stats']['playcount'].to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                %span.bio= b.lastfm_info['bio']['summary']
            - else
              %div.info
                %span.no_info= "Sorry, I don't know anything about " + b.name
