%html
  %head
    %meta{ :charset => "UTF-8" }
    %link{ :rel => "stylesheet", :href => "css/bands.css" }
    %script{ :src => "js/jquery.js"}
    %script{ :src => "js/bands.js"}
    %script{ :src => "js/tagmap.js"}
    %script{ :src => "js/tagcloud.js"}
    %script{ :src => "js/folksonomy.js"}
    %script{ :src => "bandsData.js" }
  %body
    %img{ :src => "img/primavera_logo.png", :width => "170", :height => "240", :id => "primavera_logo" }
    %div#header
      %h1 Mushub Primavera Explorer
      %div#controls
        %div.sort 
          %span.label sort
          %span{ :class => "sort option alpha", :onclick => "sort('alpha')"} Alpha
          %span{ :class => "sort option playcount", :onclick => "sort('playcount')"} Playcount
          %span{ :class => "sort option listeners", :onclick => "sort('listeners')"} Listeners
        %div.view
          %span.label view
          %span{ :class => "view option compact", :onclick => "viewCompact()" } Compact
          %span{ :class => "view option list", :onclick => "viewList()" } Expanded
          %span{ :class => "view option full", :onclick => "viewFull()" } Full        
      %div.tagcloud
        %span.label tags
        %div#tagcloud
    %div#bands
      %ul
        - @bands.each do |b| 
          %li.band{ :id => b.element_id, :onclick => "expand(this)", :class => "band" }
            %span.name= b.name  
            - if b.lastfm_info
              %img{ :src => b.image, :width=>126, :height=>101}
              %div.info
                %div.stats
                  %span.listeners= "Listeners: " + b.lastfm_info['stats']['listeners'].to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                  %span.playcount= "Playcount: " + b.lastfm_info['stats']['playcount'].to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                %div.tags
                  - b.tags.each do |tag|
                    %span.tag= tag['name']                  
                %span.bio= b.lastfm_info['bio']['summary']
            - else
              %div.info
                %span.no_info= "Sorry, I don't know anything about " + b.name
