!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %link{ :rel => "stylesheet", :href => "css/bands.css" }
    %script{ :src => "js/jquery.js"}
    %script{ :src => "http://base2.googlecode.com/svn/version/1.0/base2-p.js" }
    %script= "base2.JavaScript.bind(window);"
    %script{ :src => "ui.js" }
    %script{ :src => 'http://gandrew.com/mint/?js' }
    %script{ :src => "bandsData.js" }
  %body
    %div#primavera_logo
      %img{ :src => "img/primavera_logo10.png", :width => "224", :height => "104",  }
      %a{ :href=> 'http://primavera09.mushub.com/'}
        &raquo; primavera explorer '09
    %div#header
      %div#controls
        %div.sort 
          %span.label sort
          %div.options
            %span{ :class => "sort option alpha", :onclick => "UI.sort('alpha')"} alpha
            %span{ :class => "sort option playcount", :onclick => "UI.sort('playcount')"} playcount
            %span{ :class => "sort option listeners", :onclick => "UI.sort('listeners')"} listeners
        %div.view
          %span.label view
          %div.options
            %span{ :class => "view option compact", :onclick => "UI.viewCompact()" } compact
            %span{ :class => "view option list", :onclick => "UI.viewList()" } expanded
            %span{ :class => "view option full", :onclick => "UI.viewFull()" } full        
        %div.day
          %span.label day
          %div#day_options.options
        %div.stage
          %span.label stage
          %div#stage_options.options
      %div.tagcloud
        %span.label tags
        %div#tagcloud
    %div#bands
      %ul
        - @bands.each do |b| 
          %li.band{ :id => b.element_id, :onclick => "UI.expand(this)", :class => "band" }
            %span.name= b.display_name  
            - if b.lastfm_info
              %img{ :src => b.lastfm_info.image, :width=>126, :height=>101}
              %div.info
                %div.stats
                  %span.listeners= "Listeners: " + b.lastfm_info.listeners.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                  %span.playcount= "Playcount: " + b.lastfm_info.playcount.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                %div.tags
                  - b.lastfm_tags.top_tags.each do |tag|
                    %span.tag= tag['name']                  
                %span.bio= b.lastfm_info.bio
            - else
              %div.info
                %span.no_info= "Sorry, I don't know anything about " + b.name
    %div#hidden_bands
    %script
      :plain
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script
      :plain
        try {
          var pageTracker = _gat._getTracker("UA-8143307-1");
          pageTracker._trackPageview();
        } catch(err) {
          if(console && console.log){
            console.log("GA Error %o", err);
          }
        }    
