%html
  %head
    %meta{ :charset => "UTF-8" }
    %link{ :rel => "stylesheet", :href => "css/bands.css" }
    %script{ :src => "js/stage_selector.js"}
    %script{ :src => "js/day_selector.js"}
    %script{ :src => "js/ui.js"}
    %script{ :src => "js/jquery.js"}
    %script{ :src => "js/tagmap.js"}
    %script{ :src => "js/tagcloud.js"}
    %script{ :src => "js/folksonomy.js"}
    %script{ :src => "js/bands.js"}
    %script{ :src => "bandsData.js" }
  %body
    %img{ :src => "img/primavera_logo.png", :width => "170", :height => "240", :id => "primavera_logo" }
    %div#header
      %h1 Mushub Primavera Explorer
      %div#controls
        %div.sort 
          %span.label sort
          %div.options
            %span{ :class => "sort option alpha", :onclick => "UI.sort('alpha')"} alpha
            %span{ :class => "sort option playcount", :onclick => "UI.sort('playcount')"} playcount
            %span{ :class => "sort option listeners", :onclick => "UI.sort('listeners')"} listeners
        %div.view
          %span.label view
          %div.options
            %span{ :class => "view option compact", :onclick => "UI.viewCompact()" } compact
            %span{ :class => "view option list", :onclick => "UI.viewList()" } expanded
            %span{ :class => "view option full", :onclick => "UI.viewFull()" } full        
        %div.day
          %span.label day
          %div#day_options.options
        %div.stage
          %span.label stage
          %div#stage_options.options
      %div.tagcloud
        %span.label tags
        %div#tagcloud
    %div#bands
      %ul
        - @bands.each do |b| 
          %li.band{ :id => b.element_id, :onclick => "UI.expand(this)", :class => "band" }
            %span.name= b.display_name  
            - if b.lastfm_info
              %img{ :src => b.lastfm_info.image, :width=>126, :height=>101}
              %div.info
                %div.stats
                  %span.listeners= "Listeners: " + b.lastfm_info.listeners.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                  %span.playcount= "Playcount: " + b.lastfm_info.playcount.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1,")
                %div.tags
                  - b.lastfm_tags.top_tags.each do |tag|
                    %span.tag= tag['name']                  
                %div.timetable
                  %span.label Stage
                  %span.stage= b.timetable_entry.stage
                  %span.label Day
                  %span.day= b.timetable_entry.day
                  %span.label Time
                  %span.time= b.timetable_entry.time
                %span.bio= b.lastfm_info.bio
            - else
              %div.info
                %span.no_info= "Sorry, I don't know anything about " + b.name
